<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
        <link rel="icon" href="{{url_for('static', filename='images/court.svg')}}" />
        <title>Courtside - Reset User Password</title>
    </head>
    <body>
        <main>
            <form method="post">
                <h1>Reset your password!</h1>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        name="password" 
                        placeholder="New Password" 
                        id="password"
                    />
                </div>
                <button type="submit">Submit New Password</button>
            </form>
        </main>
    </body>
</html>