<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="container">
            <p style="text-align: center; font-size: 18px;">Click the button below to reset your password!</p>
            <button style="width: 250px; height: 40px; margin-left: auto; margin-right: auto; display: block; background-color:  #ee6730; border-radius: 10px;">
                <a href="{{ url }}" style="text-decoration: none; color: black; font-size: 20px;">Reset Password</a>
            </button>
        </div>
    </body>
</html>