<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <div class="container">
            <h1 style="text-align: center;">Welcome to Courtside!</h1>
            <p style="text-align: center;">Click the button below to verify your email and gain full control over your sports experience!</p>
            <button style="width: 200px; height: 40px; margin-left: auto; margin-right: auto; display: block; background-color:  #ee6730; border-radius: 10px;">
                <a href="{{ url }}" style="text-decoration: none; color: black; font-size: 20px;">Verify Email</a>
            </button>
        </div>
    </body>
</html>